<h3>User info</h3>
<%= users.each do |f| %>
<p>name</p>
<%= f.text_field :name %>
<p>introduction</p>
<%= f.text_area :introduction %>
<% end %>

<h3>New book</h3>
  <%= form_with model: @book do |f| %>
    <p>Title</p>
      <%= f.text_field :title %>
    <p>Opinion</p>
      <%= f.text_area :body %>
    <%= f.submit 'Create Book' %>
  <% end %>