<div>
  <%= flash[:notice] %>
</div>

<%= render 'author', book:@book %>

<h1>Book detail</h1>
<table>
  <tbody>
    <tr>
      <td><%= link_to (image_tag @books.user.get_profile_image(50,50)), user_path(@books.user.id) %>
        <br><%= link_to (@books.user.name), user_path(@books.user.id) %></td>
      <td><%= link_to (@books.title), book_path(@books.id) %></td>
      <td><%= @books.body %></td>
      <td>
        <% if @books.user == current_user %>
          <%= link_to "Edit", edit_book_path, class: 'btn btn-default' %>
        <% end %>
      </td>
      <td>
        <% if @books.user == current_user %>
          <%= link_to "Destroy", book_path(@books.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: 'btn btn-default' %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>