<%= render 'author', book:@book %>

<h1>Book detail</h1>
<table>
  <tbody>
    <tr>
      <td><%= link_to (image_tag @book.user.get_profile_image(50,50)), user_path(@book.user.id) %>
        <br><%= link_to (@book.user.name), user_path(@book.user.id) %></td>
      <td><%= link_to (@book.title), book_path(@book.id) %></td>
      <td><%= @book.body %></td>
      <td>
        <% if @book.user == current_user %>
          <%= link_to "Edit", edit_book_path, class: 'btn btn-default' %>
        <% end %>
      </td>
      <td>
        <% if @book.user == current_user %>
          <%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: 'btn btn-default' %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>