<h1>Book detail</h1>

<table>
  <tbody>
      <tr>
      <td><%= image_tag @book.user.get_profile_image(50,50) %><br><%= @book.user.name %></td>
      <td><%= @book.title %></td>
      <td><%= @book.body %></td>
      <td><%= link_to "Edit", edit_book_path, class: 'btn btn-default' %></td>
      <td>Destroy</td>
      </tr>
  </tbody>
</table>