<!DOCTYPE html>
<html>
  <head>

    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <a href="/">Bookers</a>
      <% if user_signed_in? %>
        <%= link_to user_path(current_user.id) do %>
          <i class="fas fa-home"></i>
          Home
        <% end %>
        <%= link_to users_path do %>
          <i class="fas fa-users"></i>
          Users
        <% end %>
        <%= link_to books_path do %>
          <i class="fas fa-book-open" ></i>
          Books
        <% end %>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fas fa-sign-out-alt"></i>
          Log out
        <% end %>
      <% else %>
        <%= link_to root_path do %>
          <i class="fas fa-home"></i>
          Home
        <% end %>
        <%= link_to about_path do %>
          <i class="fas fa-link"></i>
          About
        <% end %>
        <%= link_to new_user_registration_path do %>
          <i class="fas fa-user-plus"></i>
          Sign Up
        <% end %>
        <%= link_to new_user_session_path do %>
          <i class="fas fa-sign-in-alt"></i>
          Log in
        <% end %>
      <% end %>
    </header>
    <%= yield %>
    <footer>
      <p>CopyRight Infratop.inc</p>
    </footer>
  </body>
</html>
